* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    font-weight: normal;
}

html {
    height: 100%;
    display: table;
    width: 100%;
}

body {
    background: #3498DB;
    font-family: "Segoe UI", "Microsoft YaHei";
    font-size: 18px;
    height: 100%;
    width: 100%;
    min-width: 320px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

.wrapper {
    box-sizing: border-box;
    width: 640px;
    margin: 0 auto;
    text-align: center;
}

.timer {
    font-family: "Segment7Standard";
    font-size: 60px;
    display: inline-block;
    vertical-align: top;
}

.clock {
    margin-top: 30px;
}

.clock .column {
    display: inline-block;
}

p {
    line-height: 27px;
}

h1 {
    font-size: 60px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 16px;
    color: #a3deff;
    margin: 0 0 10px;
}

a {
    color: #a3deff;
    text-decoration: none;
}

.days {
    display: none;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .timer {
        font-size: 35px;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear-loading {
    text-align: center;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.spinner {
    width: 100px;
    height: 100px;
}

.spinner > span,
.spinner > span:before,
.spinner > span:after {
    content: "";
    display: block;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.spinner > span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-left-color: transparent;
    -webkit-animation: effect-2 2s infinite linear;
    -moz-animation: effect-2 2s infinite linear;
    -o-animation: effect-2 2s infinite linear;
    animation: effect-2 2s infinite linear;
}

.spinner > span:before {
    width: 75%;
    height: 75%;
    border-right-color: transparent;
}

.spinner > span:after {
    width: 50%;
    height: 50%;
    border-bottom-color: transparent;
}

@-webkit-keyframes effect-2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes effect-2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
