/**
  * Adios2018 by computerpark
  * based on https://github.com/jonny981/downtime-timer
  * see: https://github.com/computerpark/Adios2018
  * Distributed under Apache 2.0 LICENSE.
  */

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /*background: #000;*/
    /*overflow: hidden;*/
}

html {
    height: 100%;
    display: table;
    width: 100%;
}

body {
    background: #448AFF;
    font-family: "Malgun Gothic", "Segoe UI", sans-serif;
    font-size: 18px;
    height: 100%;
    width: 100%;
    min-width: 320px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}

.wrapper {
    box-sizing: border-box;
    width: 640px;
    margin: 0 auto;
    text-align: center;
}

.timer {
    font-family: "Segment7Standard" !important;
    font-size: 48px;
    display: inline-block;
    vertical-align: top;
}

.csec {
    font-family: "Segment7Standard" !important;
    font-size: 48px;
    margin-left: -20px;
    padding-left: -20px;
    display: inline-block;
    vertical-align: top;
}

.clock {
    margin-top: 30px;
}

.clock .column {
    display: inline-block;
}

p {
    line-height: 27px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    color: #a3deff;
    margin: 0 0 10px;
    font-weight: 300;
}

h3 {
    font-size: 20px;
    color: #a3deff;
    margin: 0 0 10px;
    font-weight: 200;
}

a {
    color: #a3deff;
    text-decoration: none;
}

.days {
    display: none;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .timer {
        font-size: 38px;
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width: 405px) {
    .timer {
        font-size: 34px;
    }
}

@media only screen and (max-width: 380px) {
    h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 370px) {
    .timer {
        font-size: 30px;
    }
}

@media only screen and (max-width: 344px) {
    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 335px) {
    .timer {
        font-size: 26px;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear-loading {
    text-align: center;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.progress {
    background-color: #77aaff !important;
    width: 70% !important;
    display: block;
    margin: 0px auto;
    margin-top: 45px !important;
}

.indeterminate {
    background-color: #fff !important;
}

.loadtext {
    margin-top: 5px;
}

.nowrap {
    white-space: nowrap;
    display: inline;
}

#wrapper {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#fireworkcanvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}